.header {
  display: flex;
  height: 60px;
  width: 100%;
  background: var(--background-secondary);
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  padding: 0 20px;
  color: var(--color-primary);
}
.sub-header {
  padding: 0 20px;
  color: var(--color-primary);
  border-bottom: 1px solid var(--border-color);

  display: flex;
  height: 30px;
  width: 100%;
  background-color: var(--background-tertiary);
  align-items: center;
}
.switch-time {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: center;
}
.switch-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  align-items: center;
}
p {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: var(--color-secondary);
}
h4 {
  height: max-content;
} /* From Uiverse.io by TimTrayler */
.switch {
  --secondary-container: #28db1f;
  --primary: #84da89;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.1em;
  height: 1.5em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  background-color: #313033;
  transition: 0.2s;
  border-radius: 30px;
}

.slider:before {
  align-self: center;
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  background-color: #aeaaae;
  transition: 0.4s;
  top: 3px;
  
}

input:checked + .slider::before {
  background-color: var(--primary);
}

input:checked + .slider {
  background-color: var(--secondary-container) !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
  transform: translateX(1.9em);
}
